{% extends "base.html"  %}
 
{% block content %}
  <div class="about">
	  		This website was created to create a community of readers and writers. <br>
    	<br>
    		There is no pay wall, no names attached, and a matching system that allows writers
    	to recieve feedback from readers interested in their work.<br>
    	<br>
    		It was created as a part of a senior keystone project for Kilichand Honors College at Boston University by 
    	myself, Libby James.
    	<br>
    	<br>
    		I have always loved writing and reading, and I wanted to create a community for those who felt the same way.
    	I wanted to give writers access to readers who are in their target audience, and I wanted to give readers access to stories and writers that are in their wheelhouse, so I created this website to match readers and writers to find stories they love. I also wanted to make it anonymous, as I researched the benefits of anonymous feedback, and they seem wonderful. Additionally, I hope it helps those who may be more timid when it comes to putting their write out into the world. 
    	<br>
    	<br>
    	I hope that one day, this website may lead to more writers putting their work out into the world.
    	<br>
    	<br>
    		I would like to give special thanks to my Kilachand professors and advisors, as well as my fantastic 
    	project advisor David Sullivan for all of their support throughout the process. They have been fantastic parts of my University carreer and I am so lucky to have their support in my life. I would also like to give special thanks to my father, who stepped in to help with the in-person support I needed once we began social distancing as a result of COVID-19. 
    	<br>
  </div>

 {% endblock %}