{% extends "base.html"  %}
 
{% block content %}
<div class="home">
	Looking for some writing inspiration? Here are 10 fun prompts! <br>
    	<br>
    	1. Write a story that takes place in 2 consecutive subway cars.<br>
    	2. Write a poem describing an object without ever mentioning the object's name.<br>
        3. Write a script where no character can say more than 5 words in a row uninterrupted.<br>
        4. Write a story where the main character is the exact opposite of you.<br>
        5. Write a poem from the perspective of your best friend from elementary school.<br>
        6. Write a script with ten characters, but each character is only allowed to talk to two others.<br>
        7. Write a story that would have been your favorite story at age nineteen.<br>
        8. Write a poem about being inside while outside, or vice versa.<br>
        9. Write the script to the best day of your life that still has yet to come.<br>
        10. Write a story based upon your least favorite song.<br>
   
</div>

{% endblock %}