{% extends "base.html"  %}
 
{% block content %}
  <div class="about">
	  		As this website was created to create a community of readers and writers, there are some rules you must abide by. <br>
    	<br>
    		1. Be kind to others. While constructive criticism is helpful, clear negativity is not.<br>
    	<br>
    		2. You are not allowed to steal or use the work of others without their express permission. The admin of this site does keep track of the pieces of work you have viewed in case issues arise. <br>
    	<br>
    	    3. If you run into any issues regarding these rules and regulations, please contact Libby James, the admin of the site, at etjames@bu.edu with any concerns.  
    	<br>
  </div>

 {% endblock %}